@model GYF.Models.Admin

@{
    ViewBag.Title = "GetContactDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GetContactDetails", "Admin", FormMethod.Post, new { @id = "form3", enctype = "multipart/form-data" }))
{
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Contact </span> - Contact Details</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <div class="content">

        <div class="row">
            <div class="col-xl-12">
                <!-- Marketing campaigns -->
                <div class="card">
                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title">Contact Details</h6>
                        <p style="color:red">
                            @TempData["EWalletRequest"]
                        </p>
                    </div>

                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mx-auto">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                            <div class="form-group ">
                                                <label>From Date</label>
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date",@readonly="true" })
                                            </div>
                                        </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label>To Date</label>
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <input type="submit" class="btn btn-info" name="btnDetails" id="btnDetails" style="margin-top:25px" value="Get Details" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-bordered w-100 mb-0" id="example24">
                            <thead>
                                <tr>

                                    <th>Sr No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Address</th>
                                    <th>Added On</th>
                                </tr>

                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstContact != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstContact)
                                        {
                                            <tr class="text-left">
                                                <td>
                                                    @i
                                                </td>
                                                <td>@Item.Name</td>
                                                <td>@Item.Email</td>
                                                <td>@Item.Subject</td>
                                                <td>@Item.Address</td>
                                                <td>@Item.AddedOn</td>
                                                @*<td>
                                                        <a href="/Admin/ApproveRequest?Pk_RequestId=@Item.Pk_RequestId" class="btn btn-sm btn-success">Approve</a>

                                                        <a href="/Admin/DeclineRequest?Pk_RequestId=@Item.Pk_RequestId" class="btn btn-sm btn-danger">Decline</a>
                                                    </td>*@
                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2020'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2020'
    });
</script>
