@model GYF.Models.AdminReports

@{
    ViewBag.Title = "AssociateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AssociateList", "AdminReports", FormMethod.Post, new { @id = "form3", enctype = "multipart/form-data" }))
{
      <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Admin Reports </span> - Associate List</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <div class="content">

        <div class="row">
            <div class="col-xl-12">
                <!-- Marketing campaigns -->
                <div class="card">
                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title">Associate List</h6>
                        <p style="color:red">
                            @TempData["AssociateList"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mx-auto">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label>
                                                Login Id
                                            </label>
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getLoggerName();" })

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label> Name</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Name", @readonly = "readonly" })

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label> From Date</label>
                                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label> To Date </label>
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <input type="submit" class="btn btn-info" name="btnDetails" id="btnDetails" style="margin-top:25px" value="Get Details" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered w-100 mb-0" id="example24">
                            <thead>
                                <tr>

                                    <th>Sr No.</th>
                                    <th>Login ID</th>
                                    <th>Password</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Sponsor Id</th>
                                    <th>Sponsor Name</th>
                                    <th>Active Date</th>
                                    <th>Email</th>
                                    <th>Block/UnBlock</th>
                                    <th>Action</th>

                                </tr>

                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.AssociateList != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.AssociateList)
                                        {
                                            <tr class="text-left">

                                                <td>
                                                    @i
                                                    @Html.HiddenFor(m => m.Fk_UserId)
                                                </td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.Password</td>
                                                <td>@Item.Name</td>
                                                <td>@Item.Mobile</td>
                                                <td>@Item.SponsorID</td>
                                                <td>@Item.SponsorName</td>
                                                <td>@Item.PermanentDate</td>
                                                <td>@Item.Email</td>
                                                <td>
                                                    @if (Item.Fk_UserId != "1" && Item.IsBlocked == "False")
                                                    {

                                                        <a href="/AdminReports/BlockAssociate?Fk_UserId=@Item.Fk_UserId" onclick="return confirm('Are you sure you want to Block this Associate?');" class="btn btn-sm btn-success">Block</a>

                                                    }
                                                    else if (Item.Fk_UserId != "1")
                                                    {
                                                        <a href="/AdminReports/UnBlockAssociate?Fk_UserId=@Item.Fk_UserId" onclick="return confirm('Are you sure you want to Un Block this item?');"class="btn btn-sm btn-danger">UnBlock</a>
                                                    }
                                                </td>

                                                <td>
                                                    <a href="/AdminReports/AssociateProfile?Fk_UserId=@Item.Fk_UserId" class="btn btn-sm btn-primary">Edit</a>

                                                </td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>


    function getLoggerName() {
        var LoginId = $('#LoginId');
        $.ajax({
            url: '/Admin/getLoggerName',
            data: {
                'LoginId': $('#LoginId').val()
            },
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                if (data.Name == null) {
                    alert('Invalid Login ID')
                    $("#LoginId").val('');
                    $("#Name").val('');
                    return false;
                }
                $("#Name").val(data.Name);

            }
        });
    }


    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2020'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2020'
    });
</script>

