@model GYF.Models.Associate

@{
    ViewBag.Title = "PayoutDetails";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

@using (Html.BeginForm("PayoutDetails", "Associate", FormMethod.Post, new { id = "form" }))
{

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Payout </span> - Payout Details</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->

    <div class="content">

        <div class="row">
            <div class="col-xl-12">
                <!-- Marketing campaigns -->
                <div class="card">
                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title">Payout Details</h6>

                    </div>
                    <div class="card-header">

                        <p style="color: red">
                            @TempData["PayoutDetails"]
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12 mx-auto">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label> Payout No</label>
                                            @Html.TextBoxFor(m => m.PayoutNo, new { @class = "form-control", @onclick = "return isNumberOrDecimal(event);" })


                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label> From Date</label>
                                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "readonly" })

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <label> To Date </label>
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group ">
                                            <input type="submit" class="btn btn-info" name="btnDetails" id="btnDetails" style="margin-top:25px" value="Get Details" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered w-100 mb-0" id="example25">
                            <thead>
                                <tr>

                                    <th>Sr No.</th>
                                    <th>Login ID</th>
                                    <th>Name</th>
                                    <th>Payout No</th>
                                    <th>Closing Date</th>
                                    @*<th>Direct Income</th>*@
                                    @*<th>Single Leg Income</th>*@
                                    <th>Level Income</th>
                                    @*<th>Auto Pool Income</th>*@
                                    <th>ROI</th>
                                    <th>Gross Amount</th>
                                    <th>TDS Amount</th>
                                    <th>Processing Fee</th>

                                    <th>NET Amount</th>

                                </tr>

                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstPayoutDetail != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstPayoutDetail)
                                        {
                                            <tr class="text-left">

                                                <td>@i</td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.FirstName</td>
                                                <td>@Item.PayoutNo</td>
                                                <td>@Item.ClosingDate</td>
                                                @*<td>@Item.DirectIncome</td>*@
                                                @*<td>@Item.RY</td>*@
                                                @*<td>@Item.SingleLegIncome</td>*@
                                                <td>@Item.LevelIncome</td>
                                                <td>@Item.ROI</td>
                                                <td>@Item.GrossAmount</td>
                                                <td>@Item.TDSAmount</td>
                                                <td>@Item.AdminFee</td>

                                                <td>@Item.NetAmount</td>
                                                @*<td>
                                                    <a href="/UserReports/PayoutReceipt?lid=@Item.EncryptLoginID&pno=@Item.EncryptPayoutNo" class="btn btn-sm btn-primary" target="_blank">Print</a>
                                                </td>*@


                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2020'
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2020'
    });
</script>

