@model GYF.Models.AdminReports

@{
    ViewBag.Title = "UsedPins";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Pin Management </span> - Used Pins</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->

<div class="content">

    <div class="row">
        <div class="col-xl-12">
            <!-- Marketing campaigns -->
            <div class="card">
                <div class="card-header header-elements-sm-inline">
                    <h6 class="card-title">Used Pins</h6>

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered w-100 mb-0" id="example25">
                        <thead>
                            <tr>

                                <th>Sr No.</th>
                                <th>Owner</th>
                                <th>Epin No</th>
                                <th>PinAmount</th>
                                <th>Registered To</th>
                                <th>Created On</th>
                                <th>Used Date</th>
                               
                            </tr>

                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstdetails != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstdetails)
                                    {
                                        <tr class="text-left">

                                            <td>
                                                @i

                                            </td>
                                            <td>@Item.tOwner</td>
                                            <td>@Item.ePinNo</td>
                                            <td>@Item.PinAmount</td>
                                            <td>
                                                @Item.Name
                                            </td>
                                            <td>@Item.AddedOn</td>

                                            <td>@Item.UsedDate</td>

                                        </tr>
                                        i++;
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


