@model GYF.Models.Home

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<div id="carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('../AdminCss/assets/img/contact-banner.jpg'); background-size: cover; ">
            <div class="caption">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
</div>

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Contact</span>
                <h2>Contact</h2>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>
                                1/236, Vikalp khand, Gomti nagar,<br>
                                Lucknow 206010
                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>grazieforyouventures@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 7376793554</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d115594.9200796667!2d83.6370779622831!3d25.124151235254807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sDadar%2C%20City-%20Mohania%2C%20Dist-%20Kaimur%20(Bhabhua)%2C%20State-%20Bihar%2C%20Pin%20Code%20821109!5e0!3m2!1sen!2sin!4v1635857131574!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>
              
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                   
                 @using (Html.BeginForm("ContactUs", "Main", FormMethod.Post, new { @class = "phpdfsdg", @role = "form",enctype = "multipart/form-data" }))
                 {
                    <div class="row">
                        <p style="color:red;">
                            @TempData["Contact"]
                        </p>
                    </div>
                   <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name<span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Your Name", @onkeypress = "return onlyAlphabets(event);" })
                                @*<input type="text" name="name" class="form-control" id="name" required>*@
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                                <label for="name">Your Email<span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your Email" })
                                @*<input type="email" class="form-control" name="email" id="email" required>*@
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="name">Subject</label>
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Subject" })
                            @*<input type="text" class="form-control" name="subject" id="subject" required>*@
                        </div>
                        <div class="form-group mt-3">
                            <label for="name">Message</label>
                            @Html.TextAreaFor(m => m.Address, new { @rows = "10", @class = "form-control", @placeholder = "Message" })
                            @*<textarea class="form-control" name="message" rows="10" required></textarea>*@
                        </div>
                        @*<div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>*@
                    <div class="container" style="text-align:center;">
                        <input type="submit" id="btnnn" value="Send Message" onclick="return validateform();" class="text-center fgdfgfdgf" />

                        @*<div class="text-center bbbb"><button type="submit" onclick="return validateform();">Send Message</button></div>*@
                    </div>
                 }
                    </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>

<!-------==========Whatsapp==================---------->
<a href="https://api.whatsapp.com/send?phone=7376793554&text=Hello" title="gfy" class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a>


<!-------==========Whatsapp==================---------->

<script>
    function validateform() {

        $(".errortext").removeClass("errortext");
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }

        if ($('#Email').val() == '') {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
    }


    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || (charCode == 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }




</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
















