@model GYF.Models.Home

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}




<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('../AdminCss/assets/img/1.jpeg'); background-size: cover;">
            <div class="caption">
                <h1>Welcome To GFY</h1>
                <h2>Make it easy for you to do whatever this thing does.</h2>
            </div>
        </div>

        <div class="carousel-item" style="background-image: url('../AdminCss/assets/img/2.jpg'); background-size: cover;">
            <div class="caption">
                <h1>Welcome To GFY</h1>
                <h2>Make it easy for you to do whatever this thing does.</h2>
            </div>
        </div>

    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>

</div>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Welcome to <span class="gfy">GFY</span></h1>
                <h2>The Best Solution For Our Business</h2>
                <div class="d-flex">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/AdminCss/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row pt-5">
                <div class="col-lg-6">
                    <img src="~/AdminCss/assets/img/about.png" class="img-fluid animated" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3><span class="gfy">GFY</span></h3>
                    <p class="fst-italic">
                        Best Retail Product Provider in INDIA
                    </p>
                    <p class="text-justify">
                        Welcome to the worlds fastest growing plan which is a part helping hand company . the opportunity of the millennium is waiting for you.
                    </p>
                    <p class="text-justify">
                        The business plan of <span class="fst-italic">“Grazieforyou.in”</span> is a platform that has single leg & well designed trustworthy investment plan that ensure clear and fast returns.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” encourages clients to explore in terms of financial stability.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” single leg plans are an inherently rewarding scheme that is structured around a member getting their commissions according to the target achieved by their down team members.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>It has extra profitable features that prove to be extremely viable in creating a steady & sensible oneway growth structure.</li>
                        <li><i class="bi bi-check-circle text-justify"></i>“GFY” vision is to build a future of financial evolution & Our mission is built on creating profitable plans for our clients.</li>
                    </ul>
                </div>
                <!-- <div class="d-flex">
                  <a href="about.html" class="btn btn-about scrollto text-white">Read More</a>
                </div> -->
            </div>
        </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts cta">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-4 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Solutions Partners</p>
                </div>

                <div class="col-lg-4 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Experts Network</p>
                </div>

                <div class="col-lg-4 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Happy Entrepreneurs</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <span>Our Gallery</span>
                <h2>Our Gallery</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-office">Office</li>
                        <li data-filter=".filter-project">Project</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                @if (Model != null)
                {
                    if (Model.lstProject != null)
                    {
                        int i = 1;
                        foreach (var item in Model.lstProject)
                        {
                            if (item.ProjectType == "Office")
                            {
                                <div class="col-lg-4 col-md-6 portfolio-item filter-office">
                                    <img src="@item.Image" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>@item.ProjectName</h4>
                                        <p>@item.ProjectType</p>
                                        <a href="@item.Image" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Office 2"><i class="bx bx-plus"></i></a>
                                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                                    <img src="@item.Image" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>@item.ProjectName</h4>
                                        <p>@item.ProjectType</p>
                                        <a href="@item.Image" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project 1"><i class="bx bx-plus"></i></a>
                                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            }

                            i++;
                        }
                    }
                }


                @*<div class="col-lg-4 col-md-6 portfolio-item filter-office">
                    <img src="~/AdminCss/assets/img/gallery/1.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Office 1</h4>
                        <p>Office</p>
                        <a href="~/AdminCss/assets/img/gallery/1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Office 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                    <img src="~/AdminCss/assets/img/gallery/6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Project 1</h4>
                        <p>Project</p>
                        <a href="~/AdminCss/assets/img/gallery/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-office">
                    <img src="~/AdminCss/assets/img/gallery/7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Office 2</h4>
                        <p>Office</p>
                        <a href="~/AdminCss/assets/img/gallery/7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Office 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                    <img src="~/AdminCss/assets/img/gallery/15.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Project 2</h4>
                        <p>Project</p>
                        <a href="~/AdminCss/assets/img/gallery/15.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-office">
                    <img src="~/AdminCss/assets/img/gallery/3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Office 3</h4>
                        <p>Office</p>
                        <a href="~/AdminCss/assets/img/gallery/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Office 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                    <img src="~/AdminCss/assets/img/gallery/26.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Project 3</h4>
                        <p>Project</p>
                        <a href="~/AdminCss/assets/img/gallery/26.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-office">
                    <img src="~/AdminCss/assets/img/gallery/10.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Office 4</h4>
                        <p>Office</p>
                        <a href="~/AdminCss/assets/img/gallery/10.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Office 4"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                    <img src="~/AdminCss/assets/img/gallery/43.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Project 4</h4>
                        <p>Project</p>
                        <a href="~/AdminCss/assets/img/gallery/43.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project 4"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <span>Testimonials</span>
                <h2>Testimonials</h2>
                <!-- <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p> -->
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "GFY is a professional, well-mannered, competitively priced, punctual, and talented Company in India that provides excellent service to all clients. Thanks for the outstanding work."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
                            <h3>Kavya Singh</h3>
                            <!-- <h4>Ceo &amp; Founder</h4> -->
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "An amazing experience, Very proficient! The end result is just what I was exploring for, and it was formed in a very appropriate manner. I have previously recommended GFY!"
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <h3>Mr. Vishal Singh</h3>

                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                "I would like to take this opportunity to thanks everyone at Grazieforyou.in Services for always being kind and helpful. And I really appreciate the manner that was done by all staffs who I have been dealt with."
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <h3>Mr. Shubham Bhatt</h3>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center">
                <h3>Provide You The Highest Quality Work That Meets Your Expectation.</h3>
                <!-- <p>Provide You The Highest Quality Work That Meets Your Expectation.</p> -->
                <a class="cta-btn" href="#">Read More</a>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <span>Team</span>
                <h2>Team</h2>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="member">
                            <img src="~/AdminCss/assets/img/team/team1.png" class="team-img" alt="">
                            <h4>Vikas patel</h4>
                            <!-- <span>Product Manager</span> -->
                            <!-- <p>
                              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p> -->
                        </div>
                    </div><!-- End team item -->

                    <div class="swiper-slide">
                        <div class="member">
                            <img src="~/AdminCss/assets/img/team/team2.png" class="team-img" alt="">
                            <h4>Dr. Sumant ji</h4>
                            <!-- <span>Product Manager</span> -->
                            <!-- <p>
                              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p> -->
                        </div>
                    </div><!-- End team item -->
                    <div class="swiper-slide">
                        <div class="member">
                            <img src="~/AdminCss/assets/img/team/team3.png" class="team-img" alt="">
                            <h4>Mr. Kalam</h4>
                            <!-- <span>Product Manager</span> -->
                            <!-- <p>
                              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p> -->
                        </div>
                    </div><!-- End team item -->
                    <div class="swiper-slide">
                        <div class="member">
                            <img src="~/AdminCss/assets/img/team/team4.png" class="team-img" alt="">
                            <h4>Mr. Avinash</h4>
                            <!-- <span>Product Manager</span> -->
                            <!-- <p>
                              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p> -->
                        </div>
                    </div><!-- End team item -->
                    <div class="swiper-slide">
                        <div class="member">
                            <img src="~/AdminCss/assets/img/team/team5.png" class="team-img" alt="">
                            <h4>Dr. Chandan ji</h4>
                            <!-- <span>Product Manager</span> -->
                            <!-- <p>
                              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p> -->
                        </div>
                    </div><!-- End team item -->



                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>

    <!-- ======= End Team Section ======= -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <span>Contact</span>
                <h2>Contact</h2>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>
                                1/236, Vikalp khand, Gomti nagar,<br>
                                Lucknow 206010
                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>grazieforyouventures@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>7991212117</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d115594.9200796667!2d83.6370779622831!3d25.124151235254807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sDadar%2C%20City-%20Mohania%2C%20Dist-%20Kaimur%20(Bhabhua)%2C%20State-%20Bihar%2C%20Pin%20Code%20821109!5e0!3m2!1sen!2sin!4v1635857131574!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    @using (Html.BeginForm("ContactUs", "Main", FormMethod.Post, new { @class = "phpdfsdg", @role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <p style="color:red;">
                                @TempData["Contact"]
                            </p>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name<span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Your Name", @onkeypress = "return onlyAlphabets(event);" })
                                @*<input type="text" name="name" class="form-control" id="name" required>*@
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                                <label for="name">Your Email<span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your Email" })
                                @*<input type="email" class="form-control" name="email" id="email" required>*@
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="name">Subject</label>
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = "Subject" })
                            @*<input type="text" class="form-control" name="subject" id="subject" required>*@
                        </div>
                        <div class="form-group mt-3">
                            <label for="name">Message</label>
                            @Html.TextAreaFor(m => m.Address, new { @rows = "10", @class = "form-control", @placeholder = "Message" })
                            @*<textarea class="form-control" name="message" rows="10" required></textarea>*@
                        </div>
                        @*<div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>*@
                        <div class="container" style="text-align:center;">
                            <input type="submit" id="btnnn" value="Send Message" onclick="return validateform();" class="text-center fgdfgfdgf" />

                            @*<div class="text-center bbbb"><button type="submit" onclick="return validateform();">Send Message</button></div>*@
                        </div>
                    }
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-------==========Whatsapp==================---------->
<a href="https://wa.me/message/TL4R5ZYK44JIM1" title="gfy" class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a>
<script>
    function validateform() {

        $(".errortext").removeClass("errortext");
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }

        if ($('#Email').val() == '') {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
    }


    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || (charCode == 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }




</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
















