
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<div id="carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('../AdminCss/assets/img/project-banner.png'); background-size: cover; ">
            <div class="caption">
                <h1>Projects</h1>
            </div>
        </div>
    </div>
</div>

<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <span>Projects</span>
                <h2>Projects</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-office">Office</li>
                        <li data-filter=".filter-project">Project</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                @if (Model != null)
                {
                    if (Model.lstProject != null)
                    {
                        int i = 1;
                        foreach (var item in Model.lstProject)
                        {
                            if (item.ProjectType == "Office")
                            {
                                <div class="col-lg-4 col-md-6 portfolio-item filter-office">
                                    <img src="@item.image" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>@item.ProjectName</h4>
                                        <p>@item.ProjectType</p>
                                        <a href="@item.Image" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Office 2"><i class="bx bx-plus"></i></a>
                                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-4 col-md-6 portfolio-item filter-project">
                                    <img src="@item.Image" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4>@item.ProjectName</h4>
                                        <p>@item.ProjectType</p>
                                        <a href="@item.Image" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project 1"><i class="bx bx-plus"></i></a>
                                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            }
                            i++;
                        }
                    }
                }
            </div>

        </div>
    </section><!-- End Portfolio Section -->
</main>
<!-------==========Whatsapp==================---------->
<a href="https://wa.me/message/TL4R5ZYK44JIM1" title="gfy" class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a>


<!-------==========Whatsapp==================---------->

